<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">
    <script src="./vue.js"></script>
</head>
<body>

<div id="app">
    <p v-if="isStartScene">{{ message }}</p>
    <button v-if="isStartScene" v-on:click="startGame">抱走一个小可爱！</button>

    <!--<event-tree></event-tree>-->

    <div v-if="basic" v-bind:class="personality">{{personality}}</div>

    <div v-if="basic">
        <button v-on:click="doSomthing('eating')">吃饭</button>
        <br>
        <button v-on:click="doSomthing('sleeping')">睡觉</button>
        <br>
    </div>
    <div v-if="baby">
        <button v-on:click="doSomthing('listening')">听歌</button>
    </div>
    <div v-if="child">
        <button v-on:click="doSomthing('learning')">学习</button>
        <br>
        <button v-on:click="doSomthing('wandering')">闲逛</button>
        <br>
    </div>
    <div v-if="teenage">
        <button v-on:click="doSomthing('cooking')">做菜</button>
        <br>
    </div>

    <p>
    <div v-if="canDance">
        <button v-on:click="doSomthing('dancing')">跳舞</button>
        <br>
    </div>
    </p>


    <!--<div v-if="seen" v-bind:class="personality">我今年{{personality.age}}岁啦</div>-->
    <div v-if="finish">
        <p>
            游戏结束，韩宇成长为：
        </p>
        <p>《这就是街舞》冠军</p></div>
</div>

<script src="index.js"></script>
</div>
</body>
</html>
